.page__6BigProd{ 
    visibility: hidden;
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-items: end;
    z-index: -4;
    grid-template-areas:
    "TitleText_pages6"
    "Text_pages6"
    "Line_pages6";
    width: 830px;
    max-height: 780px; 

}

#TitleText_pages6{
grid-area:TitleText_pages6;
/* padding-top:200px;
width: 607px;
height: 210px;
margin-bottom: 20px;

font-style: normal;
font-weight: 500;
font-size: 99.569px;
line-height: 102px;
display: flex;
align-items: center; */

padding-top:200px;
width: 607px;
height: 210px;
margin-bottom: 20px;

font-style: normal;
font-weight: 500;
font-size: 99.569px;
line-height: 110px;
display: flex;

color: #00C753;
}
#Text_pages6{
grid-area:Text_pages6;
position: absolute;
width: 350px;
height: 69px;
margin-left: 410px;
margin-top: 440px;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: #333333;
justify-self: start;
}

#Line_pages6{
grid-area:Line_pages6;
position: absolute;
width: 8px;
margin-left: 390px;
padding-top: 40px;
justify-self: start;
cursor: pointer;
}

#Line_pages6:hover{
    width: 9px;
}


@media (min-width: 500px) and (max-height:800px){
     .page__6BigProd{ 
       margin-top: -110px;
    }
    #Line_pages6{
        width: 5px;  
    }
}
@media (max-width: 767px ){
    .page__6BigProd{ 
        width: 330px;
    } 

    #Text_pages6{
     margin-left: 0px;        
    }       
    #Line_pages6{     
     margin-left: 160px;
     justify-self: start;
    }  

  
}
@media (max-width: 490px ){
    .page__6BigProd{       
       position: fixed;
    } 
    #TitleText_pages6{
        position: absolute;
        width: 345px;
        height: 157px;
        left: 10px;
        margin-top:-200px;
        font-style: normal;
        font-weight: 500;
        font-size: 80px;
        line-height: 102.5%;
      
    }
    #Text_pages6{
        position: absolute;
        width: 335px;
        height: 74px;
        left: 15px;
        margin-top:200px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        
        color: #333333;    
    }       
    #Line_pages6{
        width: 8px;
        height: 0px;
        left:0px;
    }    
}


@media (max-width: 360px ){
    #Line_pages6{        
        left:-6px;
    } 
 }

@media (min-width: 1450px) {  
 
    #TitleText_pages6{     
        width: 607px;
        height: 210px;
        margin-bottom: 20px;       
        justify-self: end;
        color: #00C753;
        margin-top: 50px;
        }

        #Text_pages6{
        margin-top: 480px;
        margin-left: 470px;
    }    
    #Line_pages6{  
        width: 8px;
        margin-left: 440px;
        padding-top: 40px;
        justify-self: start;
    }
}